table, td {
    border: 1px solid black;
}

.commentSection {
    border: 1px solid black;
}

tr:nth-child(odd) {
    background-color: gray;
}

textarea {
    margin:0px 0px;
    padding:5px;
    min-height:16px;
    line-height:16px;
    width:96%;
    display:block;
    margin:0px auto;    
  }