table, td {
    border: 1px solid black;
}



.submitButton:hover {
    filter: invert(5)
}

tr:nth-child(odd) {
    background-color: gray;
}

textarea {
    margin:0px 0px;
    min-height:16px;
    line-height:16px;
    width:96%;
    display:block;    
  }

  