div.five.wide.column {
  padding-right: 10px;
  position: absolute;
  right: 11px;
}
div.ui.grid {
  padding-top: 1px;
}
.ui.container {
  padding: 1px;
  position: relative;
}

body {
  background-color: #4a4a4a;
  color: white;
}