div.five.wide.column {
  padding-right: 10px;
  position: absolute;
  right: 11px;
}
.ui_grid {
  padding-top: 1px;
  
}
.ui_row {
  padding: 1px;
  position: relative;
  background-color: red;
  
}

.ui_related {
  background-color: rgb(44, 147, 243);
  float: left;
 
}
.col-md-12 {
  text-align: center;
}


