div.five.wide.column {
  padding-right: 10px;
  position: absolute;
  right: 11px;
}
.ui_grid {
  padding-top: 1px;
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}
.ui_row {
  padding: 1px;
  position: relative;
  background-color: green;
}

.ui_related {
  background-color: rgb(44, 147, 243);
  grid-column-start: 2;
  grid-column-end: 3;
}

body {
  background-color: #4a4a4a;
  color: white;
}

textarea{
  resize: none;
}